.container {
  padding-top: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: "[theme: themePrimary]";
  flex-direction: row;
  color: rgb(0, 8, 122);

  .element {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: row;

    margin: 1rem;
    h1 {
      font-size: 1.2em;
    }
  }
}
