.container {
  padding-top: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  //background-color: "[theme: themePrimary]";
  flex-direction: row;
  justify-content: center;
  color: rgb(0, 8, 122);

  .element {
    display: flex;
    margin: 0.5rem;
    h1 {
      font-size: 1.2em;
    }
  }
}
