.root {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1%;
    .button {
      align-items: flex-start;
    }
    .searchContainer {
      align-items: flex-end;
    }
  }
}
